.Songs{
    height:200px;
    width:80%;
    margin-left:8%;
    border:solid 1px rgb(187, 239, 223);
    border-radius:10px;
    display: flex;
    align-items: center;
}
ul{
    list-style-type: none;
}